[submodule "validation-context"]
	path = validation-context
	url = https://github.com/agentg2007/validation-context.git
[submodule "form"]
	path = form
	url = https://github.com/agentg2007/form.git
[submodule "with-menu"]
	path = with-menu
	url = https://github.com/agentg2007/with-menu.git
[submodule "agentg2007.github.io"]
	path = agentg2007.github.io
	url = https://github.com/agentg2007/agentg2007.github.io.git
